# Iris Data Set

***

The notebook will use the Iris data set.

This data set can be found here [online](https://archive.ics.uci.edu/dataset/53/iris)

The Raw data file is this - https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv

This notebook contains 
1. Overview of the data set
2. Types of variables contained in the data set

## Libraries

We use pandas for the DataFrame data structure.

It allows us to view, analyse and manupilate data as required for our notebook.

We use numpy for mathematical calculations

It allows us easily perform many mathematical operations used in scientific computing such as vector-vector, matrix-matrix, or matrix-vector multiplication.

In [3]:
# Data Frames
import pandas as pd

# Numerical arrays
import numpy as np

## Import Data Set

Once we have imported pandas, we should load the data set into the dataframe

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')

## Inspect data and provide the overview of it
***

In [5]:
# Have a look at first 5 and last 5 lines

df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [6]:
# Number of Rows and Columns

num_rows = len(df)
num_cols = len(df.columns)

print(f"Number of Rows: {num_rows}")
print(f"Number of Columns: {num_cols}")

Number of Rows: 150
Number of Columns: 5

In [7]:
# Drop duplicates as part of data cleaning

df_dropduplicate = df.drop_duplicates()

In [11]:
# Number of Rows and Columns

num_rows = len(df_dropduplicate)
num_cols = len(df_dropduplicate.columns)

print(f"Number of Rows: {num_rows}")
print(f"Number of Columns: {num_cols}")

#We have 1 duplicate row that we found during the clean up

Number of Rows: 149
Number of Columns: 5

In [12]:
# Drop NA values as part of data cleaning

df_dropna = df_dropduplicate.dropna()

In [14]:
# Number of Rows and Columns

num_rows = len(df_dropna)
num_cols = len(df_dropna.columns)

print(f"Number of Rows: {num_rows}")
print(f"Number of Columns: {num_cols}")

#We found no NA values in the data

Number of Rows: 149
Number of Columns: 5

In [15]:
# Look at the first row in detail

df_dropna.iloc[0]

sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
Name: 0, dtype: object

In [16]:
# Type of each variable.

df_dropna.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [17]:
# Unique values in the last colummn to understand number of species.

unique_species = df_dropna['species'].unique()

print(unique_species)

['setosa' 'versicolor' 'virginica']

In [18]:
# Summary

df_dropna.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    149.000000   149.000000    149.000000   149.000000
mean       5.843624     3.059732      3.748993     1.194631
std        0.830851     0.436342      1.767791     0.762622
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.300000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

***

### End